<form role="form" class="mb-lg ng-pristine ng-valid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-feedback mb">
                <input id="exampleInputEmail1" type="email" placeholder="Your email" autocomplete="off" class="form-control">
            </div>
            <br>
            <div class="form-group has-feedback">
                <input id="exampleInputPassword1" type="password" placeholder="Your password" class="form-control">
                <a ui-sref="credential.reset_password">Forgot password</a>
            </div>
            <div class="checkbox c-checkbox pull-left mt0">
                <label>
                    <input type="checkbox" value="">
                    Remember me
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
            <p class="text-muted mb0">Don't have an account yet?</p>
            <a ui-sref="registration" class="btn btn-block btn-default">
                <strong>Register</strong>
            </a>
        </div>
    </div>
</form>