<form role="form" class="mb-lg">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input id="passwordReset" type="password" placeholder="Your password" autocomplete="off" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <input id="passwordConfirm" type="password" placeholder="Confirm password" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-primary">Start Password Reset</button>
            <p class="text-muted">&nbsp;</p>
            <a ui-sref="credential.authenticate" class="btn btn-block btn-default">
                <strong>Back</strong>
            </a>
        </div>
    </div>
</form>