@(message: String)

@main("Welcome to Play") {
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('module2')}"><a href="#/account">Account</a></li>
        </ul>
    </div>
    <div class="container text-center">
        <h3> Open your browser's debugger tools. </h3>
    </div>
    <div class="container">
         <div class="col-sm-6">
             <div class="content" ui-view>
                    <!-- State views load here -->
                <small>States' views will load here.</small>
            </div>
        </div>
    </div>
    <!---
    <div class="container">
        <div class="row">
            <div class="login-box col-sm-6 col-sm-offset-3">

                <div class="panel">
                    <div class="panel-body">
                        <p class="pv text-bold">LOGIN CREDENTIALS</p>
                        <form role="form" class="mb-lg ng-pristine ng-valid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback mb">
                                        <input id="exampleInputEmail1" type="email" placeholder="Your email" autocomplete="off" class="form-control">
                                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                    </div>
                                    <br>
                                    <div class="form-group has-feedback">
                                        <input id="exampleInputPassword1" type="password" placeholder="Your password" class="form-control">
                                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                                    </div>
                                    <div class="checkbox c-checkbox pull-left mt0">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="fa fa-check"></span>Remember me</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-block btn-primary mb">Login</button>
                                    <p class="text-muted mb0">Don't have an account yet?</p>
                                    <a ui-sref="page.register" class="btn btn-block btn-default" href="#/page/register">
                                        <strong>Register one</strong>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><! --/row - - >
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">hello, bootstrap</a>
            </div>
        </div>
    </div>

    <div class="container">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Show a Modal</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">This is a Modal</h4>
                </div>
                <div class="modal-body">
                    <p>Bootstrap depends on jQuery.  So when you specify Bootstrap as a dependency you get jQuery too.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    --->
}
